 {% load static %}


	<!-- footer area start -->
	<footer>
		<div class="footer-position">
			<div class="animate-bubble style-1 style-2">
				<div class="bubble a-one"></div>
				<div class="bubble a-three"></div>
				<div class="bubble a-four"></div>
				<div class="bubble a-six"></div>
				<div class="bubble a-eight">
					<img src=" {% static 'assets/images/banner/shape/a3.png' %} " alt="animate">
				</div>
				<div class="bubble a-nine">
					<img src=" {% static 'assets/images/banner/shape/a3.png' %} " alt="animate">
				</div>
				<div class="bubble a-ten">
					<img src=" {% static 'assets/images/banner/shape/a3.png' %} " alt="animate">
				</div>
				<div class="bubble a-eleven">
					<img src=" {% static 'assets/images/banner/shape/a3.png' %} " alt="animate">
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-6 col-12">
						<div class="footer-media">
							<a href="#">
								<img src=" {% static 'assets/images/logo/agency.png' %} " alt="footer-image">
								<h4>Halci <span>Agency</span></h4>
							</a>
							<p>
								Conveniently customizec web services 
								Sontinually aggregate frictionle interfa
								without Globally without Globally.
							</p>
							<ul class="footer-social">
								<li>
									<a href="#"><i class="fab fa-facebook-f"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fab fa-linkedin-in"></i></a>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="col-xl-3 col-lg-3 col-md-6  col-12">
						<div class="footer-contact">
							<h4>Contact Us</h4>
							<ul>
								<li>
									<i class="fas fa-map-marker-alt"></i>
									<span>Sector # 48,123 Street,  Australia</span>
								</li>
								<li>
									<i class="fas fa-phone"></i>
									<span>+88978-658-125, 0078-98-954,</span>
								</li>
								<li>
									<i class="fas fa-envelope"></i>
									<span>halciagency@gmail.com</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-xl-3 col-lg-3 col-md-6  col-12">
						<div class="link-us">
							<h4>Quick Link</h4>
							<ul>
								<li>
									<a href="#">Home</a>
								</li>
								<li>
									<a href="#">Pages</a>
								</li>
								<li>
									<a href="#">Portfolio</a>
								</li>
								<li>
									<a href="#">Blog</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-xl-3 col-lg-3 col-md-6  col-12">
						<div class="footer-news">
							<h4>newsletter</h4>
							<form action="#0">
								<input type="text" class="email" placeholder="Enter Email Address">
								<button type="submit" class="button">
									Subscribe
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<div class="footer-bottom">
		<div class="container">
			<div class="copy-right text-center">
				<p>&copy; 2019 <a href="index.html">Halci.</a> Rights Reserved By <a href="https://themeforest.net/user/labartisan" target="_blank">LabArtisan</a></p>
			</div>
		</div>
	</div>
	<!-- footer area ends -->