{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
	.edit{
		width: 70px;
		height: 30px;
		background-color: lightskyblue;
		border-radius: 25px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		color: white;
	}
</style>
<!-- services area start -->
	<div class="blogs">
		<div class="container">
			<div class="blog-wrapper">
				<div class="row flex-row-reverse">
					<div class="col-lg-9 col-12 pl-lg-20">
                    {% for post in account.post_set.all %}
                    
						<div class="blog-post">
							<div class="blog-thumb">
								<a href=""><img src=" {{post.image.url}} " alt="blog-imge"></a>
								<div class="date">
									<h6>25</h6>
									<span>Aug</span>
								</div>
							</div>
							<div class="blog-text">
								<ul class="post-date">
									{% comment %} <li><span>{{post.created|date:"Y-m-d H:i a"}}</span></li> {% endcomment %}
									{% comment %} <li><span>{{post.created|date:"g:i a"}}</span></li> {% endcomment %}
									<li><span>By <a href="#">{{account.name}}</a></span></li>
								</ul>
								<a href=""><h3>{{post.title}}</h3></a>
								<p>{{post.body|truncatechars:100}}</p>
								<ul class="more-art">
								<li><a href="blog_single.html"><span>Read More<i class="fa fa-angle-double-right"></i><a 							href="{% url 'update' post.slug %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
									<a href="{% url 'delete' post.slug %}" class="btn btn-primary"><i class="fas fa-trash text-white"></i></a>
								</span>
							</li>
									
									<li>
										<span><i class="far fa-comment"></i> <a href="#">3 Comment</a></span>
										<span class="hart"><i class="far fa-heart"></i> <a href="#">Like</a></span>
									</li>
								</ul>
							</div>
						</div>
                    {% endfor %}

						
						<div class="anuther-page">
							<ul class="page-linkup">
								<li>
									<a href="#">Prev</a>
								</li>
								<li>
									<a href="#"><span>01</span></a>
								</li>
								<li>
									<a href="#"><span>02</span></a>
								</li>
								<li>
									<a href="#"><span>03</span></a>
								</li>
								<li>
									<span>...</span>
								</li>
								<li>
									<a href="#"><span>23</span></a>
								</li>
								<li>
									<a href="#"><span>24</span></a>
								</li>
								<li>
									<a href="#"><span>25</span></a>
								</li>
								<li>
									<a href="#">Next</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-12">
						<div class="widget-member">
							
							<div class="member-thumb">
								<i class="fas fa-user-edit"><a href="{% url 'update-profile' %}" style="text-decoration: none;">
									<div class="edit info">
									Edit
									</div>
								</a></i>
								{% comment %} {% if account.writer.picture %} {% endcomment %}
								<a href="#"><img src="{{account.picture.url}}" alt="blog-imge"></a>

								{% comment %} {% else %} {% endcomment %}

								{% comment %} <a href="#"><img src="" alt="blog-imge"></a>
								{% endif %} {% endcomment %}
							</div>
							<div class="member-text">
								<h3>{{account.name}}</h3>
                                <p>@{{account.username}}</p>
                                <h6>{{account.profession}}</h6>
								<p>{{account.about}}</p>
								<ul class="team-icon">
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
								
							</div>
						</div>

	

						<div class="widget-instagram">
							<h5>Instagram</h5>
							<ul class="instagram-thumb">
								<li><a href="#"><img src=" {% static 'assets/images/blog/09.png' %} " alt="blog-imge"></a></li>
								<li><a href="#"><img src=" {% static 'assets/images/blog/10.png' %} " alt="blog-imge"></a></li>
								<li><a href="#"><img src=" {% static 'assets/images/blog/11.png' %} " alt="blog-imge"></a></li>
								<li><a href="#"><img src=" {% static 'assets/images/blog/12.png' %} " alt="blog-imge"></a></li>
							</ul>
						</div>
						
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- sercices area ends -->
	

{% endblock content %}